version: "3"

services:
  api:
    container_name: api.services.minded
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: npm run start
    depends_on:
      - mysql
      - redis
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./:/usr/src/app
      - ./.data/logs:/var/log
      - /usr/src/app/node_modules

  redis:
    container_name: redis.services.minded
    image: redis:alpine
    restart: always
    command: redis-server --requirepass ${REDIS_AUTH_PASSWORD}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    volumes:
      - ./.data/redis-data:/var/lib/redis

  mysql:
    container_name: mysql.services.minded
    image: mysql:5.7
    restart: always
    volumes:
      - ./.data/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: minded_local
    ports:
      - 3306:3306
