NODE_ENV=dev

OPTIMIZELY_SDK_KEY=

REDIS_HOST=redis
REDIS_PORT=6379

MYSQL_HOST=mysql
MYSQL_WRITE_HOST=mysql
MYSQL_READ_HOST_0=mysql
MYSQL_PORT=3306
MYSQL_DB=minded_local
MYSQL_USER=root
# MYSQL_PASS=root

JWT_SECRET=
SESSION_SECRET=
